{{>partials/header}}
    <h1>Login</h1>
    <form method="POST">
        <input type="text" name="userInfo" placeholder="userInfo"/><br><br>
        <input type="password" name="senha" placeholder="Senha"/><br><br>
        <input type="submit" name="enviar" value="Enviar"/>
    </form>    
{{>partials/footer}}