<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p>Olá {{name}}!</p>
    <p>{{#mostrarIdade}}Você é maior de idade!{{/mostrarIdade}}</p>
    <ul>
        {{#produtos}}
            <li>{{nomeDoProduto}} - R$ {{preco}}</li>
        {{/produtos}}
    </ul>
</body>
</html>