<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.ts</title>
</head>
<header>
    <a href="/">Home</a> |
    <a href="/contato">Contato</a> |
    <a href="/sobre">Sobre nós</a> |
    <a href="/nome">Nome</a>
</header>
<style>
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    margin: 0;
    padding: 5px;
    font-family: 'Courier Prime', monospace;
    background-color: black;
    color: white;
}

input {
    width: 100%;
}

footer, header {
    text-align: center;
}
</style>

